.project-desc{
.reg
{
	/*border: 2px solid purple;*/
	padding-bottom: 12px;
	background-color: lighten($color: $primary-color, $amount: 5);
	border:1px solid #55fa0e;
	-webkit-box-orient:vertical;
    -webkit-box-flex:1;

    .lable
    {
        /*border:1px dashed #660066;*/
        width:30%;
        height:auto;
        padding-right: 8px;
        font-size:30px;
        text-align:right;
        color:white;
        border-right: 3px $secondary-color solid;
    }

    .field
    {
        /*border:1px dashed #660066;*/
        width:67%;
        padding-left: 4px;
        padding-right: 8px;
        font-size:20px;
        text-align:left;
        color:white;
    }
}
}